/* General Styling */
html {
  color-scheme: light dark;
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0 30px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a.current {
  border-bottom: 2px solid #00f;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 8px;
}

/* Form Styling */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / -1;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
}

button {
  grid-column: 1 / -1;
}

/* Projects Grid Layout */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

/* GitHub Profile Section */
.github-profile {
  text-align: center;
  margin-top: 20px;
}

.github-profile img {
  border-radius: 50%;
}

/* GitHub Stats */
#profile-stats {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 20px;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 800px;
}

#profile-stats dt {
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  font-size: 0.9rem;
}

#profile-stats dd {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


/* Pie Chart Styling */
#projects-plot {
  display: block;
  width: 300px; 
  height: 300px;
  margin-bottom: 20px; /* Ensures space between the Pie Chart and Legend */
}

/* Legend Styling */
.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 10px;
  gap: 15px;
  max-width: 400px;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.legend .swatch {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .legend {
    align-items: center;
  }
}
